body{
    background-color: rgb(151, 189, 222);
}
.wrapper .bg{
    width:100%;
    height: 40%;
    background-color: rgb(62, 62, 103);
    margin:-30px auto;
}
.wrapper .box-1 
{
    width:100%;
    height: 40%;
    background-color: white;
    margin: 180px auto;
}
.wrapper .box-2{
    width:50%;
    height: 40%;
    background-color: white;
    margin: 250px auto;
}
.wrapper h2{
    text-align: center;
    background-color: green;
    color: white;
}
.wrapper .box-1 .foto{
    padding: 250px;
    height: 245px;
    margin-top: -19px;
}
.wrapper .biodata{
    width:30%;
    padding: 268px;
    height:20%;
    background-color: white;
    margin: -110PX auto;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper .pengalaman{
    width: 34px;
    padding-left: 140px;
    height: 30%;
    background-color: white;
    margin: -490px 332px;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}